body {
	background-color: grey;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

.col1 {
	width: 45%;
}

.col2 {
	width: 55%;
}

.container {
	padding: 30px;
	font-family: cursive;
	background-color: #f1f1f1;
}

span.psw {
	padding-top: 1px;
}

.modal-content {
	color: dark-grey;
	margin: 3% auto 15% auto;
	/* 3% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.heading {
	padding: 2px;
	font-family: cursive;
	background-color: cyan;
}

.txt {
	padding-left: 2cm;
}

}
input[type=text] {
	width: 78%;
	padding: 8px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

body {
	background-size: cover;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
}

#leavesubmit, #addleave {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}

body {
	background-size: cover;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 29%;
}

input[type=button] {
	background-color: #FF6347;
	color: white;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
	width: 29%;
}

a {
	text-decoration: none;
}