<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AMSFolder</display-name>
  <welcome-file-list>
    <welcome-file>/JSP/commonjsp/Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccessServlet</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>servlet.system_admin_servlet.AccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/AccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDesignationServlet</display-name>
    <servlet-name>AddDesignationServlet</servlet-name>
    <servlet-class>servlet.system_admin_servlet.AddDesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDesignationServlet</servlet-name>
    <url-pattern>/AddDesignationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>servlet.system_admin_servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExpenseServlet</display-name>
    <servlet-name>AddExpenseServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.AddExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpenseServlet</servlet-name>
    <url-pattern>/AddExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeaveServlet</display-name>
    <servlet-name>AddLeaveServlet</servlet-name>
    <servlet-class>common.servlet_common.AddLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeaveServlet</servlet-name>
    <url-pattern>/AddLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLeave</display-name>
    <servlet-name>ApproveLeave</servlet-name>
    <servlet-class>servlet.hr_servlet.ApproveLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLeave</servlet-name>
    <url-pattern>/ApproveLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLeaveServlet</display-name>
    <servlet-name>EmployeeLeaveServlet</servlet-name>
    <servlet-class>common.servlet_common.EmployeeLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLeaveServlet</servlet-name>
    <url-pattern>/EmployeeLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>common.servlet_common.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/forgotweb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>common.servlet_common.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>common.servlet_common.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/changePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaySalaryServlet</display-name>
    <servlet-name>PaySalaryServlet</servlet-name>
    <servlet-class>servlet.account_manager_servlet.PaySalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaySalaryServlet</servlet-name>
    <url-pattern>/PaySalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayStudentServlet</display-name>
    <servlet-name>PayStudentServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.PayStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayStudentServlet</servlet-name>
    <url-pattern>/PayStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectLeaveServlet</display-name>
    <servlet-name>RejectLeaveServlet</servlet-name>
    <servlet-class>servlet.hr_servlet.RejectLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectLeaveServlet</servlet-name>
    <url-pattern>/RejectLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLeaveServlet</display-name>
    <servlet-name>ApproveLeaveServlet</servlet-name>
    <servlet-class>servlet.hr_servlet.ApproveLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLeaveServlet</servlet-name>
    <url-pattern>/ApproveLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTotalExpense</display-name>
    <servlet-name>ShowTotalExpense</servlet-name>
    <servlet-class>servlet.account_manager_servlet.ShowTotalExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTotalExpense</servlet-name>
    <url-pattern>/ShowTotalExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchServlet</display-name>
    <servlet-name>StudentSearchServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.StudentSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchServlet</servlet-name>
    <url-pattern>/StudentSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TakeLeaveServlet</display-name>
    <servlet-name>TakeLeaveServlet</servlet-name>
    <servlet-class>common.servlet_common.TakeLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeLeaveServlet</servlet-name>
    <url-pattern>/TakeLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TurnOverServlet</display-name>
    <servlet-name>TurnOverServlet</servlet-name>
    <servlet-class>servlet.account_manager_servlet.TurnOverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurnOverServlet</servlet-name>
    <url-pattern>/TurnOverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>servlet.admin_servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>common.servlet_common.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControllerServlet</display-name>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>common.servlet_common.LoginControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployee</display-name>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>common.servlet_common.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/ViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewExpenseServlet</display-name>
    <servlet-name>common.servlet_common.ViewExpenseServlet</servlet-name>
    <servlet-class>common.servlet_common.ViewExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>common.servlet_common.ViewExpenseServlet</servlet-name>
    <url-pattern>/ViewExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMonthSalaryServlet</display-name>
    <servlet-name>ViewMonthSalaryServlet</servlet-name>
    <servlet-class>servlet.account_manager_servlet.ViewMonthSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMonthSalaryServlet</servlet-name>
    <url-pattern>/ViewMonthSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudent</display-name>
    <servlet-name>ViewStudent</servlet-name>
    <servlet-class>servlet.admin_servlet.ViewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudent</servlet-name>
    <url-pattern>/ViewStudent</url-pattern>
  </servlet-mapping>
</web-app>